{% extends 'base.html' %}{% block navbar_title %} Pop Shop - Auctions {% endblock navbar_title %} {% block content %}

<div class="row">
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Open Auctions</h1>
            <p>Below are New Items that nobody has bid on.<br>Be the first to bid.<br>Once an Auction has ended and you are the winner.<br>Please head to the Checkout to Claim your Prize.</p>
        </div>
    </div>
    {% for auction in auctions %}{% if auction.status == "Open" %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">{{ auction.product_id.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="product" style="background-image: url('{{MEDIA_URL}}{{ auction.product_id.image }}')"></div>
                <div class="text-center">
                    <p class="product-description">{{ auction.product_id.description }}</p>
                    <hr class='block-divider block-divider--longer'>
                    <p class="product-text">End Time: <span> {{ auction.end_time }} </span></p>
                </div>
            </div>
            <div class="panel-footer">
                <p class="product-text text-center">Status: <span> {{ auction.status }} </span></p>
                <p class="product-text text-center">Bidnumber: <span> {{ auction.bid_number }} </span></p>
                <p class="product-text text-center">Current Bid: £<span> {{ auction.current_price }} </span></p>
                <p class="product-text text-center">Current Bidder: <span> {{ auction.current_bidder }} </span></p>
                {%if auction.current_bidder != user.username%}
                <form action="{% url 'open_auction' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="hidden" name="product_id" value={{ auction.product_id.id }} />
                        <input name="UpBid" type="number" min="5" max="9999" class="form-control" placeholder="Enter minimum £ 5">
                        <span class="input-group-btn"><button class="btn btn-success">Increase Bid</button></span>
                    </div>
                </form>
                {% elif auction.current_bidder == user.username%}
                <h4 class="text-center">YOUR WINNING</h4>
                {% endif %}
            </div>
        </div>
    </div>
    {%endif%} {% empty %}
    <div class="jumbotron text-center">
        <div class="container">
            <h3 class="text-center">Sorry, but there are no Auctions to display.</h3>
            {% if user.is_superuser %}
            <p class="text-center">Would you like to Start an Auction?</p>
            <p><span><a class="btn btn-success btn-lg" href="{% url 'add_auctions' %}" role="button"><i class="fa fa-plus"></i> Start Auction</a></span> {% else %}
                <p class="text-center">Please comeback another time.</p>
                {% endif %}
        </div>
    </div> {% endfor %}
</div>


{% endblock %}