{% extends 'base.html' %} {% load bootstrap_tags %}
<!-- Changes the Brand in the Navbar -->{% block navbar_title %} Pop Shop - Add Products {% endblock navbar_title %}
<!-- Changes the Brand in the Navbar -->{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <form method="POST" action="{% url 'addproducts' %}" enctype="multipart/form-data" class="accountform">
            <fieldset class="form-group">
                <legend>Add Product</legend>
                {% csrf_token %} {{ APF | as_bootstrap }}
                <button type="submit" class="btn btn-lg btn-success full-width"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}