{% extends "base.html" %} {% load bootstrap_tags %}
<!-- Changes the Brand in the Navbar -->{% block navbar_title %} Pop Shop - Register {% endblock navbar_title %}
<!-- Changes the Brand in the Navbar -->{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <!-- Register Form -->
        <legend>Create a new account</legend>
        <p>Already got an account? <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button></p>

        <form method="post" action="{% url 'register' %}" class="accountform">
            <fieldset class="form-group">

                {% csrf_token %} {{ user_form | as_bootstrap_inline }} {{ profile_form | as_bootstrap_inline }}
                <button type="submit" class="btn btn-success">Create account</button>
            </fieldset>
        </form>
        <!-- Register Form -->
    </div>
</div>
{% endblock %}