{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block navbar_title %} Pop Shop - Cart {% endblock navbar_title %} {% block content %}
<div class="row row-flex">
    <div class="display panel panel-primary">
        <div class="panel-heading text-center">
            <h1 class="panel-title">Cart</h1>
        </div>
        <!-- Table -->
        <table class="table">

            <tr>
                <th>Product Name</th>
                <th>Cost</th>
                <th>Qty</th>
            </tr>
            {% for item in cart_items %}

            <tr>
                <td>{{ item.product.name }}</td>
                <td>£{{ item.product.instant_buy_price }}</td>
                <td>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="panel-footer footer-blue">
            <h3>Total
                <span aria-hidden="true"></span>£{{ total }}</h3>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
    </div>
</div>


{% endblock %}