{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap_tags %} {% block navbar_title %} Pop World - Bids {% endblock navbar_title %}{% block content %}

<div class="row">
    <h1>Bid</h1>
    {% for i in bid %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-primary">
        <div class="panel-heading text-center">
            <h3 class="panel-title">{{ i.product_id.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="product" style="background-image: url('{{MEDIA_URL}}{{ i.product_id.image }}')"></div>
            <p class="product-description">{{ i.product_id.description }}</p>
            <hr class='block-divider block-divider--longer'>
            <p>Winning Bidder: {{ i.user_id.username }}</p>
            <p>Winning Bid: {{ i.current_bid }}</p>
        </div>
        <div class="panel-footer">
            <p class="product-description text-center">Status: <span> {{ i.auction_id.auction_open }} </span></p>

            <form action="{% url 'bid_on_auction' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="hidden" name="product_id" value={{ auction.product_id.id }} />
                    <input name="UpBid" type="number" min="5" max="9999" class="form-control" placeholder="Enter minimum £ 5">
                    <span class="input-group-btn"><button class="btn btn-success">Increase Bid</button></span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}